/* GENERAL STYLING*/
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #eaeaea; /* light grey background for the overall page */
}
/* MAKE SURE COLORS ARE ACCESSIBLE!!!! want good contrast to make sure the site is accessible for those who are visually impaired */

/* HEADER STYLING */
header {
    background-color: #3d3d3d; /* Dark gray background - has a 7.32:1 contrast ratio with #9edef0 */
    color: #9EDEF0; /* Light blue text color for nav items - has a 7.32:1 contrast ratio with #3d3d3d */
}

/* Styling for navigation bar */
header .container {
    display: flex;
    justify-content: space-between; /* spaces items evenly */
    align-items: center;
    padding: 10px 20px;
}

/* Site title styling */
header h1 {
    display: flex;
    justify-content: flex-start;
    background-color: #9EDEF0; /* Light blue background for the title - has a 7.32:1 contrast ratio with #3d3d3d*/
    color: #3d3d3d; /* Dark gray text color to match the header background - has a 7.32:1 contrast ratio with #9edef0*/
    padding: 10px;
    margin: 0; /* Resets any default margin */
    font-size: 2.5em; /* Largest font size for the title */
}

/* Navigation list styling */
header nav ul {
    list-style: none; /* Removes default list styling */
    padding: 0;
    margin: 0; /* Resets any default margin */
    display: flex;
}


/* Navigation links styling */
header nav ul li {
    margin: 0 10px; /* equal spacing between navigation items */
}

/* Navigation anchor tags styling */
header nav ul li a {
    color: inherit;
    font-size: 1.2em;
}

/* SUBHEADER STYLING */

.subheader {
    background-image: url("../images/floral.jpeg"); 
    background-size: cover; /* ensures the background covers the area */
    background-position: center; /* centers the background image */
    position: relative; /* for positioning the subtitle box */
    padding: 50px 0; /* ADJUST THE PADDING TO FIT DESIGN */
}

.subtitle-box {
    background-color: #9EDEF0; /* light blue background color - has a 7.32:1 contrast ratio with #3d3d3d */
    color: #3d3d3d; /* dark gray text color - has a 7.32:1 contrast ratio with #9edef0 */
    padding: 3px 10px; /* padding inside the text box */
    position: absolute; /* absolute position within the subheader */
    bottom: 10px; /* near the bottom of the subheader image */
    right: 20px; /*aligns with the right edge */
}


/* MAIN CONTENT STYLING*/

main {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.main-section {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

.section-heading {
    display: flex;
    flex-basis: 25%;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0;
    padding: 0 20px 20px 0;
}

h3 {
    color: #123456 ; /* dark blue text color for h3s, has a good contrast ratio against the background color #eaeaea (contrast ratio - 10.57:1) */
    font-size: 2em;
}

.section-content {
    flex-basis: 75%;
    display: flex; /* makes the child elements flex items */
    border-left: 3px solid #123456; /* border color of #123456 has a good contrast ratio againt the background color #eaeaea (contrast ratio - 10.57:1) */
    padding-left: 40px;
    box-sizing: border-box;
}


 /* About Me styling */
.about-image {
    /* styles for the profile picture */
    max-width: 200px;
    height: auto;
    object-fit: contain;
    margin-right: 20px;
}

.about-text {
    /* styles for the text in the about me section */
    flex-grow: 1; /* allows the text to fill the space */
}

/* Work styling*/
.my-work {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.featured-project {
    position: relative;
    width: 100%;
    line-height: 0; /* so there's no shading after the image with the .featured-projust::before styling */
}

.featured-project img {
    width: 100%;
    height: auto;
    object-fit: cover; /* cover the area without stretching */
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* two columns */
    gap: 20px;
    margin-top: 20px; 
}

.project {
    position: relative;
    overflow: hidden; /* hide overflow to maintain aspect ratio */
    line-height: 0;
}

/* shading the images in the work section, so I can contrast them with a clear background on hover */
.featured-project a::before, .project a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); /* black shade with 50% opacity */
    transition: background 0.3s ease; /* smooth transition for the hover effect */
}

.featured-project a:hover::before, .project a:hover::before {
    background: transparent; /* clear background on hover */
}

.project img {
    width: 100%;
    height: auto;
    object-fit: cover; /* cover the area without stretching */
}

.project-info {
    position: absolute;
    background-color: #9EDEF0; /* has a 7.32:1 contrast ratio with text color #3d3d3d */
    color: #3d3d3d; /* has a 7.32:1 contrast ratio with background color #9edef0 */
    padding: 5px;
    bottom: 40px;
    left: 0px; /* aligned to the left side of the image */
    line-height: 1.5;
}

/* Contact Me styling */

.contact-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.contact-me a:hover {
    color: #1f9219; /* color change on hover for interactivity */
}


/* MEDIA QUERIES */
@media (max-width: 768px){
    .about-image {
        max-width: 150x; /* smaller maximum size on smaller screens */
        height: auto;
    }

    .section-content {
        flex-direction: column; /* stack the images and text on top of each other */
        
    }

    .about-text {
        width: 100%; /* allows text to fill the container */
    }

    .project-grid {
        grid-template-columns: 1fr; /* stack images on smaller screens */
    }
}

@media (max-width: 480px) {
    .about-image {
        max-width: 80px;
        height: auto;
    }
}